/**
 * eu-vat-for-woocommerce-checkout-eu-vat-field-block css
 *
 * @version 4.5.6
 *
 * @author  WPFactory
 */

.wp-block-eu-vat-for-woocommerce-checkout-eu-vat-field {
	margin: 20px 0;
	padding-top: 4px;
	padding-bottom: 4px;
	align-items: flex-start;

	.block-editor-rich-text__editable {
		vertical-align: middle;
		line-height: 24px;
	}

	.wc-block-components-checkbox {
		margin-right: 16px;
		margin-top: 0;
	}
}

#alg_eu_vat_for_woocommerce_field{
	display: block;
	width: 100%;
}
div#alg_eu_vat_for_woocommerce_field.woocommerce-invalid input,
div#alg_eu_vat_for_woocommerce_field.woocommerce-invalid-mismatch input,
div#alg_eu_vat_for_woocommerce_field.woocommerce-invalid label,
div#alg_eu_vat_for_woocommerce_field.woocommerce-invalid-mismatch label {
	color: #cc1818;
}

div#alg_eu_vat_for_woocommerce_field.woocommerce-invalid input,
div#alg_eu_vat_for_woocommerce_field.woocommerce-invalid-mismatch input {
	border-color: #cc1818;
}

.alg-wc-eu-vat-error-color{
	color: #cc1818;
}
.alg-wc-eu-vat-valid-color{
	color: #0f834d;
}

#alg_wc_eu_vat_details {
	ul {
		list-style: none;
		margin: 0;
		padding: 1rem;
		outline: 1px solid hsla(0, 0%, 7%, .11);
		display: inline-block;
	}
}
.wc-block-components-totals-wrapper.slot-wrapper .alg-eu-vat-for-woocommerce-zero-vat-wrapper{
	padding: 16px;
}

.editor-styles-wrapper {
	.wp-block-eu-vat-for-woocommerce-checkout-eu-vat-field {
		.wc-block-components-checkbox {
			margin-right: 0;
			margin-top: 0;
		}
	}
}